body {
	background: rgb(255,162,218);
	background: linear-gradient(360deg, rgba(255,162,218,1) 0%, rgba(3,3,166,1) 100%);
}

 html,body {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 height: 100vh;
    }

#container {

	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

img#alien {
	border-radius: 50%;
	transition: 1s;
}

img#alien:hover {
	transform:translateY(-5em);
	transform: scale(110%);
}

footer {
	text-align: center;
	padding-top: 10%;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
