body {
	background: rgb(255,162,218);
	background: linear-gradient(360deg, rgba(255,162,218,1) 0%, rgba(3,3,166,1) 100%);
}

 html,body {
	 display: inline-flex;
	 align-items: center;
	 justify-content: center;
	 height: 100vh;
    }

#container img {
	display: flex;
	align-items: center;
	justify-content: center;
}

img{
	width: 90%;
	height: 90%;
}

img#alien {
	border-radius: 50%;
	margin: 0px auto 0px auto;
	transition: 1s;
}

img#alien:hover {
	transform:translateY(-5em);
	transform: scale(110%);
}
